* {
  margin: 0px;
  padding: 1px;  //chamche
  box-sizing: border-box;
} 
body{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}

/* clase padre */
.padre{
display: flex;
flex-flow: column nowrap;
}
.margen-interno{
  padding: 0 50px;
}
/* hijos */
              .header{
              background: url(../fotos/fondo1.jpg);
              background-position: center;
              background-attachment: contain;
              background-size: cover;
              display: flex;
              flex-flow: column nowrap;
              }
/* inicio menu */
.menu-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  height: 65px;
  margin: 0px;
  }
  // .menu-container:hover{
  //   background-color: #464f41;
  // }
  
  .menu-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a{
    text-decoration:none ;
    font-size: 20px;
    color: #ffff;
    }
   .fa-circle-o-notch:hover{
color: yellow;
   }

.fa-user:hover{
  color: yellow;
}
.fa-volume-control-phone:hover{
  color: yellow;
}
.fa-envelope-o:hover{
  color: yellow;
}



  }

.menu{
  background-color:rgba(0,0,0,.1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.5);
  
}
/* fin menu */

/* inicio logo */
.logo{
  
  flex: 1 1 auto;
  font: oblique bold 120% cursive;
}
         .logo a{
         color: #fff;
         text-decoration: none;
         font-size: 30px;
         }
         .logo a:hover{
         color: #343434;
         }
/* fin logo */


/* inicio nav */
.nav{
  flex: 5 1 auto; 
  
}
          .nav a{
          color: white;
          font-size: 13px;
          
          padding: 0 10px;
          letter-spacing: 2px;
          }
          .nav a:hover{
          color: #343434;
          }
     
/* fin nav */


/* inicio social */
.social{
  flex: 1 1 auto;
  display: flex;
}
           .social a {
           font-size: 18px;
           color: #fff;
           padding: 0 5px;
           }
          .social a:hover{
           color: #343434;
           }
/* fin social */


/* clase padre */
.texto-principal{
  display: flex;
  align-items: center;
  height: 580px;
}
/* hijos */
             h1{
             font-family: 'Lora', serif;
             font-size: 30px;
             color: #fff;
             font-weight: 300;
             text-align: center;
             line-height: 1.6;
             }
            .section{
             background: #f7f7f7;
             display: flex;
             }
            .articulos{
             background: #f7f7f7;
             flex: 2 1 auto;
             display: flex;
             flex-flow: row wrap;
             }
             p{
               font-size: 20px;
             }
            .article{
              color: #444;
              font-size: 12px;
              letter-spacing: 1px;
             flex: 1 1 40%;
             margin: 10px 10px 0 0px;
             flex: 1 1 45%;
             background: #ececec;
             }
             .article img{
               width: 100%;
             }
             .article a{
               color: white;
               font-size: 13px;
               padding: 10px 10px;
               background: #000;
               margin: 10px 0;
               display: inline-block;
             }
             .articulos.article a :hover{
               background: white;
               transform: scale(1.05);
             }
             h3{
               color: white;
               font-size: 13px;
               padding: 10px 1;
               margin-top: -110px;
             }
             h2{
              color: white;
              font-size: 20px;
              padding:0px 0 10px 10;
              text-transform: uppercase;
             }
             .navegacion{
             background-color:#000;
             flex: 1 1 100%;
             margin: 10px 10px 0 0px;
             }
             .navegacion a{
               color: #fff;
               font-size: 13px;
               text-transform: uppercase;
               padding: 0 10px;
               letter-spacing: 2px;
             }
             .aside{
             flex: 1 1 auto;
             margin: 10px 5px 10px 0;
             }
             .aside img{
               width: 230px;
             }
             h4{
               background: black;
               color: white;
               padding: 10px;
               text-transform: uppercase;
             }
             .publicidad{
             background-color: #b68973;
             }

            .footer{
             background: black;
             display: flex;
             justify-content: center;
             margin-top: 10px;
             }
            .pie{
            //  background-color: #b68973;
          text-align: center;
         
             }
             .pie a{
               color: #fff;
               font-size: 11px;
               text-transform: uppercase;
               padding: 0 10px;
               letter-spacing: 2px;
             }



            //  INICIO DE ACCORDION


//inicio de acordion

.main-accordion-container{
  .accordion-item{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid white;
    flex-direction: column;
    padding: 0 10px 0 10px;


    .accordion-desc{
      display: none;
      background: #9e9d89;
      padding: 15px;
      margin-top: 15px;
      width: 90%;
    }
    .accordion-title{
      color: white;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration-color: rosybrown;
    }

    &.tab-active{
      .accordion-desc{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
//fin de accordion


            // FIN ACCORDION


            
  //inicio crds
  .card-list{
    display: flex;
    justify-content: space-around;
    margin-top: 1px ;
    flex-wrap: wrap;
    //background-color: rgb(7, 7, 7);

    .card-item {
      width: 100%;
      height: 250px;
      border-radius: 5px;
      padding-bottom: 7px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 45px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: burlywood;

       &:hover {
         transform: scale(1.05);
       }

      img {
        width: 100%;
        margin-bottom: 7px;
        max-height: 130px;
        min-height: 130px;
        display: flex;
      }
      .card-title {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 5px;
      }
      .card-info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-around;
      }
      .card-desc{
        font-family: 'Helvetica';
        font-size: 12px;
      }
      .card-cta{
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 15px;
        border-top: solid 2px black;
        padding-top: 5px;
        margin-top: 7px;
      }
    }
  }
  //fin cards

//inicio del media 991
@media(max-width:991px){
  .menu-container{
    display:flex;
    padding:0 15px;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    .menu-list{
      display: none;
    }
     .hamburger-icon{
     width: 35px;
     height: 25px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
       span{
       height: 3px;
       width: 100%;
       background: #ffff;
       display: block;
       border-radius: 3px;
       }
     }
}
// Esta clase afecta tocando e click de hamburger Icon... 

 .menu-container.menu-open{
     .menu-list{
       z-index: 100;
       border: 0px solid black;
       width: 150px;
       padding-top: 0px;
       height:25px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-content: left;
       text-align: center;
       background-color: transparent;
       border-radius: 5px;

       a{
        padding-top: 5px;
        padding-bottom: 45px;
      }
     }
   }  
   
   



   .fa-circle-o-notch:hover{
    color: yellow;
       }
    
    .fa-user:hover{
      color: yellow;
    }
    .fa-volume-control-phone:hover{
      color: yellow;
    }
    .fa-envelope-o:hover{
      color: yellow;
    }
}
//fin




   

 @media all and (max-width: 970px){
.section{
flex-direction: column;
}
.menu{
flex-direction: column;
height: auto;
}
.aside{
 display: flex;
justify-content: center;
}
h2{
  font-size: 15px;
}



.fa-circle-o-notch:hover{
  color: yellow;
     }
  
  .fa-user:hover{
    color: yellow;
  }
  .fa-volume-control-phone:hover{
    color: yellow;
  }
  .fa-envelope-o:hover{
    color: yellow;
  }
              
 }


@media all and (max-width: 800px){
  .section{
      flex-direction: column;
  }
  .menu{
      flex-direction: column;
      height: auto;
  }
  .aside{
      display: flex;
      justify-content: center;
  }




  .menu-container{
    display:flex;
    padding:0 15px;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    .menu-list{
      display: none;
    }
     .hamburger-icon{
     width: 35px;
     height: 25px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
       span{
       height: 3px;
       width: 100%;
       background: #ffff;
       display: block;
       border-radius: 3px;
       }
     }
}

  .menu-container.menu-open{
     .menu-list{
       z-index: 100;
       border: 3px solid black;
       width: 150px;
       padding-top: 217px;
       height:475px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-content: left;
       text-align: center;
       background-color: #435560;
       border-radius: 5px;

       a{
        padding-top: 5px;
        padding-bottom: 45px;
      }
     }
   }     

 

  
}

@media all and (max-width: 600px){
.articulos{
  flex-direction: column;
}
}



@media all and (max-width: 573px){
  h1{
    font-size: 20px;
  }
  
 

  
}
@media all and (max-width: 568px){
  
   h1{
     font-size: 25px;
   }
  
    
  }

  @media all and (max-width: 440px){
    .aside{
        flex-direction: column;
    }


  }


  @media all and (max-width: 472px){
  
    h1{
      font-size: 20px;
    }
    .aside img{
      width: 100px;
    }
   
     
   }
@media all and (max-width: 588px){
  .aside{
      flex-direction: column;
  }
}

@media all and (max-width: 394px){
  
  h1{
    font-size: 15px;
  }
 
   
 }
 @media all and (max-width: 348px){
  
  .aside img{
    width: 90px;
  }

   
 }